.Footer {
    width: 100%;
    margin: 15px 0;
}

.Footer div#inter {
    background-color: #777777;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Footer div#inter span {
    background-color: #a50000;
    width: 130px;
    height: 100%;
}

.Footer div#inter span:last-of-type {
    width: 50px;
    margin-right: 40px;
}

.Footer div#icons {
    margin-top: 15px;
    text-align: center;
}

.Footer div#icons svg {
    margin: 0 4px;
    display: inline-block;
    color: #a50000;
}